@import 'src/styles/vars';

.close {
    outline: none;
}

.modal-body {
    &__email-input, &__password-input {
        width: 100%;
    }
}
.modal-footer__login {

    padding: 5px 12px;

    color: white;
    background-color: $light-blue;

    border-radius: 5px;
    border: none;

    &:hover {
        background-color: $blue;    
    }

    &:active {
        color:#C8C8C8;    
    }
}

.my-categories-container__list {
    list-style: none;
}

.my-categories-container__item {
    &-remove {
        margin-left: 10px;

        opacity: 0.6;
        
        &:hover {
            opacity: 1;
        }
    }
}